.account_main{
  background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 85px 85px, linear-gradient(#f6f6f6 6.800000000000001px, transparent 6.800000000000001px) 0 -3.4000000000000004px, linear-gradient(90deg, #f6f6f6 6.800000000000001px, #ffffff 6.800000000000001px) -3.4000000000000004px 0;
background-size: 170px 170px, 170px 170px, 85px 85px, 85px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem ;
  margin-bottom: 2rem;
}
#table_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
table {
  margin-top: 2rem;
    width: 100%;
    border-radius: 8px;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: #f6f6f6;
    -webkit-box-shadow: 3px 3px 20px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 20px -7px rgba(0,0,0,0.75);
box-shadow: 3px 3px 20px -7px rgba(0,0,0,0.75);
  }
  nav a{
    color: black;
  }
  #logo_nav{
    width: 10rem;
   }
  th{
    border-radius: 4px;
    padding: 1rem;
  }
  #date_filter_container{
    padding: 2rem;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  #initDate,#finishDate{
    padding: 1rem;
    margin: .2rem;
    border-radius: 8px;
    border: none;
  }
  td{
border-bottom: 3px solid rgb(204, 204, 204)!important;
    border-radius: 4px;
    width: 15rem;
    padding: 1rem;
  }
  #no_transaction{
    font-size: 3rem;
    color: #9b8d98;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #no_transaction img{
    width: 8rem;
  }
  #logoNav{
    height: 4rem;
  }
