@import url('https://fonts.cdnfonts.com/css/credit-card');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
    padding-top: 2rem;
}
.mainbg_cards{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 85px 85px, linear-gradient(#f6f6f6 6.800000000000001px, transparent 6.800000000000001px) 0 -3.4000000000000004px, linear-gradient(90deg, #f6f6f6 6.800000000000001px, #ffffff 6.800000000000001px) -3.4000000000000004px 0;
background-size: 170px 170px, 170px 170px, 85px 85px, 85px 85px;
}
#main_cards{
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 85px 85px, linear-gradient(#f6f6f6 6.800000000000001px, transparent 6.800000000000001px) 0 -3.4000000000000004px, linear-gradient(90deg, #f6f6f6 6.800000000000001px, #ffffff 6.800000000000001px) -3.4000000000000004px 0;
background-size: 170px 170px, 170px 170px, 85px 85px, 85px 85px;
}
.debitCards_container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.h1_msg, .p_msg{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(96, 96, 96);
}
.p_msg a{
    color: #f77441;
}
.img_dont_have_cards{
width: 20%;
}
.creditCards_container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
#right_container{
    width: 30%;
    background-image: linear-gradient(360deg, #f1bf54 0%, #f77441 100%);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 3px 3px 20px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 20px -7px rgba(0,0,0,0.75);
box-shadow: 3px 3px 20px -7px rgba(0,0,0,0.75);
}
#right_container img{
    width: 100%;
}
#card_body{
    color: rgb(38, 38, 38);
    width: 21rem;
    height: 12rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: all .1s ease;
    align-items: center;
    gap: .4rem;
    -webkit-box-shadow: 3px 3px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 20px -7px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 20px -7px rgba(0,0,0,0.75);
   
}
#card_body:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: rgb(0, 0, 0);
    transform: translate(1px);

}
#card_type{
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: end;
    padding-right: 2rem;

}
#card_img{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 2.7rem;

}
#card_img img{
    height: 80%;
}
#card_number{
    display: flex;
    font-family: 'Credit Card', sans-serif;
    justify-content: center;
    font-size: 0.9rem;
    width: 90%;
}
#card_name_date{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    width: 80%;
}
#card_date{
    font-family: 'Credit Card', sans-serif;
    font-size: .7rem;
}
#cvv_expired_container{
    display: flex;
    width: 100%;
    align-items: center;
    height: 2rem;
    justify-content: space-between;
}
#expired_msg{
    color: red;
}
#delete_btn{
    background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
  color:rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  height: 3rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  }
#card_cvv{
    margin-right: 2rem;
    font-size: .5rem;
    font-family: 'Credit Card', sans-serif;   

}
#right_container a{
    width: 80%;
}
#create_card_btn{
background-color: #f7e9cb;
color:rgb(107, 106, 106);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 1rem;
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
width: 100%;
height: 3rem;
margin-bottom: 2rem;
border: none;
border-radius: 8px;
cursor: pointer;
}
#create_card_btn:hover{
    background-color: #f86c34;
    color: rgb(244, 244, 244);
}
#checkbox_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media (max-width:1100px){
    .mainbg_cards{
            flex-direction:column;
            justify-content: center;
            align-items: center;
        }
        .img_dont_have_cards{
            width: 6%;
        }
        #right_container{
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            height: 20rem;
        }
        #right_container img{
            height: 100%;
            width:35%;
        }
        #create_card_btn{
            width: 100%;
            height: 3rem;
            margin-bottom: 2rem;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            }
            .debitCards_container,.creditCards_container{
                width: 80%;
                flex-direction: row;      
                gap: 1rem;
                margin: 1rem;
            }
            .card_title{
                display: none;
            }
            

}
@media (max-width:800px){
    #right_container img{
        display: none;
    }
}