@import url('https://fonts.cdnfonts.com/css/credit-card');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cards_container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#card_body{
    color: rgb(51, 51, 51);
    width: 25rem;
    height: 15rem;
    border-radius: 20px;
    background: linear-gradient(31deg, rgba(245,229,137,1) 13%, rgba(133,109,25,1) 52%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
   
}
#card_body:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: rgb(0, 0, 0);

}
#card_type{
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    margin-top: 1rem;

}
#card_img{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 3rem;

}
#card_img img{
    height: 100%;
}
#card_number{
    display: flex;
    font-family: 'Credit Card', sans-serif;
    justify-content: center;
    font-size: 1.2rem;
    width: 90%;
}
#card_name_date{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    width: 80%;
}
#card_date{
    font-family: 'Credit Card', sans-serif;
    font-size: 1rem;
}
#card_cvv{
    align-self: end;
    margin-right: 2rem;
    font-size: .6rem;
    font-family: 'Credit Card', sans-serif;   
}