*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main_create_cards{
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 85px 85px, linear-gradient(#f6f6f6 6.800000000000001px, transparent 6.800000000000001px) 0 -3.4000000000000004px, linear-gradient(90deg, #f6f6f6 6.800000000000001px, #ffffff 6.800000000000001px) -3.4000000000000004px 0;
background-size: 170px 170px, 170px 170px, 85px 85px, 85px 85px;
}

#color_select{
    text-align: center;
    height: 3rem;
    width: 30%;
}
#selec_container{
    border: 3px solid rgb(246, 139, 63) ;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    width: 30%;
    height: 35rem;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container_create{
    justify-content: space-around;
    display: flex;
}
#container_create img{
    width: 40%;
    height: 35rem;
}
#create_card_btn{
    width: 10rem;
    color: white;
    background-color: rgb(246, 139, 63);
    height: 2.5rem;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
#create_card_btn:hover{
    background-color: rgb(247, 111, 13);

}
#right_container_create_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 60%;
}
#right_container_create_cards h2{
    font-size: 2.2rem;
    color: rgb(64, 63, 63);
}
#right_container_create_cards p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(96, 96, 96);
}
#img_create_card{
    width: 35%!important;
    height: 25%!important;
}
#cards_img{
    width: 100%;
    height: 10.8rem;
    display: flex;
    justify-content: space-between;
}
#cards_img img{
    width: 30%!important;
    height: 100%!important;
}

@media (max-width:1275px){
    #right_container_create_cards{
        gap:1rem;
        width: 50%;
        flex-direction: row;
        align-items: center;

    }
    #selec_container{
        width: 45%;
        height: 35rem;
        gap: 1.5rem;
    }
    #cards_img img{
display: none;
    }
    #color_select{

        height: 4rem;
        width: 70%;
    }

}
@media (max-width:1000px){
#container_create{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#selec_container{
    width: 70%;
    height: 35rem;
    gap: 1.5rem;
    border: none;
    background-color: transparent;
}
#img_create_card{
    width: 150px!important;
    height: 150px!important;
}
#right_container_create_cards{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#create_card_btn{
    width: 70%;
    height: 4rem;
    
}

}
@media (max-width:640px){
    #right_container_create_cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 15rem;
        padding: 1rem;
    }
    #selec_container h1{
        text-align: center;
    }
}
@media (max-width:468px){
    #right_container_create_cards{
   display:none;
    }
    #color_select{
        height: 6rem;
        width: 90%;
    }

}