*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main_login{
background-color: #f6f6f6;
}
#img_login_container{
    background-image: url(../style/assets/flower_login.jpg);
    width: 40%;
    mask-image: linear-gradient(to right, transparent, black);
    -webkit-mask-image: -webkit-linear-gradient(left, transparent, black);
    border-radius: 15px;
    width: 40%;
    filter: blur(2px);
}

#logo_login{
    height: 15vh;
}
#logo_login img{
    height: 100%;
}
h1{
    font-size: 3rem;
    color: rgb(109, 100, 100);
}
#container_login{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
}
#container_login img{
    mask-image: linear-gradient(to right, transparent, black);
    -webkit-mask-image: -webkit-linear-gradient(left, transparent, black);
    border-radius: 15px;
    width: 40%;
    filter: blur(2px);
}
.login_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}
#login{
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#register{
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 60%;
    width: 80%;
}
#register_form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 80%;
    width: 80%;
}
input[type="text"], [type="password"], [type="email"]{
    padding: 1.5rem;
    border: none;
    border-bottom: 3px solid  #F8885A;
    background-color: transparent;
    font-size: 1.2rem;
}
input[type="submit"]{
    border: none;
    font-size: 1.2rem;
    background-image: linear-gradient(120deg, #f1bf54 0%, #f77441 100%);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: all .3s ease-in-out;
    height: 2.9rem;
}
input[type="submit"]:hover{
    background-image: linear-gradient(360deg, #f1bf54 0%, #f77441 100%);
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
input[type="checkbox"]{
    width: 1.5rem;
    accent-color:#F8885A ;
    color: white;
}

label{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}
#forgot_pwd{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: #F8885A;
}
#forgot_pwd:hover{
    text-decoration: underline;
    cursor: pointer;
}

form input {
    height: 2.5rem;
}
#error_message{
    color: red;
    font-size:1.3rem;
}


#register_btn{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    background-color: #909395;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#register_btn:hover{
    border: 2px solid white;
    background-color: #545b63;
    
}
.bi-arrow-left-circle-fill{
    font-size: 4rem;
    color: #6a6b6c;
}
.bi-arrow-left-circle-fill:hover{
color: #fa733d;
}
@media (max-width: 1000px){
    #img_login_container{
       display: none;
    }
    #container_login{
        display: flex;
        justify-content: center;
    }
    .login_body{
        justify-content: center;
        width: 60%;
    }
    #register_btn{
        width: 80%;
        height: 2.5rem;
        color: white;
    }
}
@media (max-width: 530px){
    .login_body{
        justify-content: center;
        width: 100%;
    }
    #main_login{
        background-color: transparent;
        }
        input[type="submit"]{
            font-size: 1.6rem;
            height: 4rem;
        }
        #register_btn{
            width: 80%;
            height: 2.5rem;
            color: white;
        }
        #wave_login{
            display: none;
        }
        

}