#account,#amount{
    width: 70%;
    text-align: center;
    height: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#right_container_transfer{
    border: 3px solid green;
    width: 60%;
}
#main_transfer{
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 85px 85px, linear-gradient(#f6f6f6 6.800000000000001px, transparent 6.800000000000001px) 0 -3.4000000000000004px, linear-gradient(90deg, #f6f6f6 6.800000000000001px, #ffffff 6.800000000000001px) -3.4000000000000004px 0;
background-size: 170px 170px, 170px 170px, 85px 85px, 85px 85px;
}
#selec_container{
    border: 3px solid rgb(246, 139, 63) ;
    height: 44rem;
    margin-bottom: 2rem;
    gap: 20px;
}
#transfer_btn{
    width: 10rem;
    color: white;
    background-color: rgb(246, 139, 63);
    height: 2.5rem;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
#transfer_btn:hover{
    background-color: rgb(247, 111, 13);  
}
input[type="text"]{
    border-radius: 15px;
    font-size: 1rem;
    border: none;
    width: 70%;
    background-color: rgb(255, 255, 255);
}
#input_radio{
    display: flex;
    align-items: center;
}
input[type="radio"]{
    width: 2rem;
    height: 1.2rem;
}
